@import "null.css";


/* Селекторы */

/* Селектор тега */
p {
	/* Обращаюсь ко всем моим тегам P на странице */
	color: rgb(238, 86, 16);
}
h1{
	color: rgb(25, 187, 33);
}
/* Обращаюсь ко всем моим тегам h2 на странице */
h2{
	color: darkmagenta;
}
/* Обращаюсь к id тегу h2, тег поменял цветб так как id самый приоритетный*/
#color_type {
	color: teal;
}

span {
	/* Обращаюсь ко всем моим тегам SPAN на странице */
	 color: rgb(25, 190, 25);
} 

/* Обращаюсь ко всем моим спамам в теге P на странице. Примечание!!! p span> span*/

p span {
	/* color: rgb(251, 255, 8); */
}
/* Обращаюсь именно к этому классу .text-box. Здесь есть спам и у него другой цвет для всех спамом в теге Р  */
.text-box {
	color: magenta;
}
/* Обращаюсь ко ВСЕМ тегам А. Все мои ссылки */
a {
	color: rgb(230, 80, 160);
}


/* Селектор класса, начинается с точки */
/* Обратились ко ВСЕМ объектам на странице с классом text.У меня это p div */
.text {
	color: rgb(116, 192, 131);
}
/* Здесь для эксперимента я обращаюсь ко все классам .text именно в тегах div p */
.text div p { 
	/* color: aquamarine; */
}
/* Здесь для эксперимента я обращаюсь ко все классам .text именно в тегах div  */
.text div { 
	color: rgb(121, 54, 0);
}

/* Селектор ID. Такой id только один на странице, поэтому он приоретернней  */
#content{
	color: rgb(248, 160, 19);
}
/* !!!!!!Вложенность. Очень сложно */

/* Сначала обращаюсь ко всем тегам ul и li ПЕРВОГО и ИТОРОГО уровня. Но здесь мои ссылки взяли css параметр тега A  */
/* ul li{
	color: rgb(188, 132, 212);
} */
/*Ничего не меняеться. Потому что рабатает так. Читает так: ul первый уровень li цвет, и опять ul первый уровень li цвет */
/* ul>li{
	color: rgb(188, 132, 212);
} */
/*Здесь css параменты приписывается ТОЛЬКО второму уровню!!!!! */
/* ul>li>ul>li{
	color: rgb(188, 132, 212);
} */


/* Сначала обращаюсь ко всем ссылкам А класса .menu   */
menu .menu a {
	/* color: palevioletred; */
}

/* задача весь список в один цвет  */

/* Сначала обращаюсь ко всем тегам ul, a и li ПЕРВОГО  */
/* ul.menu>li>a { color: red;} */


/* Сначала обращаюсь ко всем тегам ul  a и li ВТОРОГО */
ul.menu>li>ul>li>a {
	/* color: mediumpurple;  */
}

/* Вариант обращения ко ВТОРОМУ уровню*/
.menu ul>li>a {
	/* color: rgb(1, 211, 11);  */
}


/* Сначала обращаюсь ко всем тегам ul и li ПЕРВОГО и ИТОРОГО уровня. Но здесь мои ссылки взяли css параметр тега A  */
/* ul>li>ul>li>a {
	color: mediumpurple;
}  */


/* Обращаюсь ко все тегам h3 */
h3 {
	color: rgb(4, 238, 168);
}
/* Обращаюсь к id класса #about-color*/
#olordesing{
	color: salmon;
}
#modelcolor {
	color: rgb(85, 87, 211);
}


/*ВАЖНО СВОЙСТВО насдедуеться дочерними элементами!!! */

/*Я обращаюсь ко всем тегам li,  здесь только первый уровень  */
ol>li{
	color: rgb(0, 144, 132);
}

/*Строим как бы матрешку и css параменты приписывается ТОЛЬКО второму уровню!!!!!  */
ol>li>ol>li{
	color: rgb(46, 12, 241);
}

/* Обращаюсь списку  .list тега UL */
ul.list{
	color: lime;
}

/*Строим как бы матрешку и css параменты до тега P  */
ul.list>li>p {
	color: rgb(88, 2, 88);
}

/* Перечисление */

/* Пробую уточнение */
div.about-text {
	/* color: rgb(44, 12, 226); */
}
/*Еще раз уточнение  */
div.block-text {
	/* color: rgb(184, 15, 214); */
}

/* пречесление */
.about-text,
.block-text {
	color: rgb(184, 15, 214);
}


/* Все объекты DIV c классом palitr */
/* Порядок записи, при равнозначных селекторах */
div .palitr-text{
	color: rgb(221, 37, 238);
}
div .palitr-text{
	color: rgb(186, 141, 190);
}

/* Обращаюсь к id класса #palitr*/
#palitr {
	color: rgb(119, 216, 9);
}


/* id самый приоритетный */
#block {
	/* color: hotpink; */
}


/* Комплексные селекторы */


/* Только первый уровень вложенности */
.section > p {
	/* color: rgb(38, 0, 255); */
}
.section > p >.section__text > p {
	/* color: rgb(28, 246, 21); */
}

/* Обращаемся только к первому 
	следующему объекту того же уровня 
*/
.next-text + p {
	/* color: rgb(27, 192, 12); */
}

/* Обращаемся ко всем следующим объектам того же уровня */

.next-text ~ p {
	color: rgb(0, 204, 255);
}

/* Использую селектор атрибута */
[class*="-text"] {
	/* color: red; */
}
/* Обращаеюсь ко всему и вся */
* {
	/* color: red; */
}


/* Все объекты c классами text и paragraph ОДНОВРЕМЕННО */
/* Этот приоритетней */
.name.paragraph {
	color: rgb(45, 0, 128);
}